body{
    background-image: linear-gradient(rgba(189, 172, 172, 0.103)),url(./wraper.png) ;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 400px;
}
.navbar{
  background-color: #3A497B !important;
  border: 1px solid transparent;
  border-radius: 20px;
}
.navbar a{
  color: white;
}
a, li, ul{
  text-decoration: none;
  color: white;
}
.card{
  background-color: #272b30;
}
.btn-color{
  background-color: #272729;
}

.desc{
  color: #949598;
}

.badge-det{
  background-color: #3A497B !important;
}


.layer{
  background-color: black;
  opacity: 0.5;
  z-index: 99;
  transition: all 1s;
}
.layer:hover img{
  transform: scaleX(1.5);
   
 
}
h4{

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-size: 14px;
  line-height: 17px;
  color:rgb(255,255,255);
  font-style: normal;

}
p{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-size: 14px;
  line-height: 21px;
}


.badge-font{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-size: 11px;
  line-height: 11px;
  font-style: normal;
}
.navbar img{
  width: 10%;
}
.w-10{
  width: 30%;
  height: 100%;
}
.gameCard{
  margin: 5px;
  transition: all 1s;
}

.gameCard:hover{
  transform: scale(1.1);


}
.gameCard:hover .layer{
  opacity: 1;
}

#details span{
  font-size: 12px;
  font-weight: 700;
}
#details h2{
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  
}
#details h3{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
}
#details p{
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
    font-family: "Comfortaa", sans-serif;
}
#details button:hover{
  background-color: #ffc107 ;
}
.modal-header{
  border-bottom: none;
}